{% extends "base.html" %}

{% block title %}
    Tours - Balkan Bike Tours
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tours.css') }}">
<!--<style>-->
<!--    body {-->
<!--        background-image: url('{{ url_for('static', filename='images/pexels-photo-751378.jpeg') }}');-->
<!--        background-size: cover;-->
<!-- kolkas nuemu background picture, isidejau bacground color      -->
<!--    }-->
<!--</style>-->
    <h1>Our tours</h1>

    <div class="container">
        <div class="item">
            <img src="{{ url_for('static', filename='images/rytu_rodopai.jpg') }}" alt="Tour Image">
            <h1><span class="highlight">Bulgaria | </span>MTB tour in East Rhodopians</h1>
            <a href="{{ url_for('mtb_east_rodopai') }}">Learn More</a>
        </div>

        <div class="item">
            <img src="{{ url_for('static', filename='images/rila_rodopai.jpg') }}" alt="Tour Image">
            <h1><span class="highlight">Bulgaria | </span>MTB tour in Rila and Rhodopian mountains</h1>
            <a href="{{ url_for('mtb_rila_rodopai') }}">Learn More</a>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='images/marokas_panoramic.jpg') }}" alt="Tour Image">
            <h1><span class="highlight">Marocco | </span>MTB tour in Atlas Mountains </h1>
            <a href="#">Learn More</a>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='images/rila_rodopai.jpg') }}" alt="Tour Image">
            <h1><span class="highlight">North Macedonia | </span>MTB tour in Rila and Rhodopian mountains</h1>
            <a href="#">Learn More</a>
        </div>


    </div>

{% endblock %}